body { 
    overflow: hidden;
    margin: 0;
    padding: 4px;
    font-family: tahoma, sans-serif;
    width: 230px;
}

.menu div {
    background-color: white;
    color: black;
    font-size: 11px;
    padding: 4px 14px;
    white-space: nowrap;
}

.menu div:hover { 
    background-color: #316AC5;
    color: white;
    cursor: default;
}

.menu div span {
    float: right;
}

#sabInfo { 
    color: black;
    font-size: 11px;
    padding: 10px;
}

#sabInfo .label { 
    font-weight: bold;
    width:140px;
    display:inline-block;
}