body {
	margin: 4px;
	width: 600px;
	height: 350px;
	border: 1px solid black;
	padding: 0;
	/*font-size: 10px;*/
}

#container {
	display: table;
	width: 100%;
	height: 100%;
}

#list-container {
	float: left;
	padding: 10px 20px 10px 10px;
	width: 80%;
	height: 100%;
	background-color: #FAD275;
}

#list {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#button-container {
	display: table-cell;
	vertical-align: top;
	width: 100px;
	height: 100%;
	background-color: #f5f5f5;
}

#button-margin {
	margin: 2px;
	text-align: center;
}

#tabs {
	display: table-cell;
}

#queue-tab {
	padding: 0;
	/*overflow: hidden;*/
}

.list-item {
	box-sizing: border-box;
	border: 1px solid black;
	margin: 0 0 3px 0;
	width: 100%;
	height: 60px;
	background-color: #FFF5E3;
}

.progress-bar {
	height: 13px;
	margin: 40px 3px 0 3px;
}

.ui-progressbar-value
{
	background-image: url(../third_party/jquery/ui-lightness/images/pbar-ani.gif);
}

.controller {
	float: right;
	width: 16px;
	height: 16px;
	margin: 2px;
}

.controller#cancel {
	background-image: url(../images/controller-cancel.png);
}

.controller#play {
	background-image: url(../images/controller-play.png);
}

.controller#pause {
	background-image: url(../images/controller-pause.png);
}

.item-title {
	float: left;
	font-family: arial;
	font-size: 12px;
	margin: 3px 0 0 3px;
}

/*button > span.ui-button-text {
	font-size: 10px;
}*/

button {
	width: 100%;
	height: 25px;
	margin: 0 0 3px 0;
}

ul, li {
	list-style-type: none;
}

/*
	#demo-frame > div.demo { padding: 10px !important; }
	.scroll-pane { overflow: auto; width: 99%; float:left; }
	.scroll-content { width: 2440px; float: left; }
	.scroll-content-item { width: 100px; height: 100px; float: left; margin: 10px; font-size: 3em; line-height: 96px; text-align: center; }
	.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
	.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
	.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
	.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
	.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
*/